@import "../../variable.css";

.Titlebar-window {
  background-color: hsl(215, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
}

.Titlebar-window button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  /* TODO: Make this accent color */
  color: white;
  font-family: monospace;
  font-size: 14px;
  width: 40px;
  /* Please Make these , espesially height relative to the display size , currently it is too short */
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.15s ease;
}

.Titlebar-window button:hover {
  width: 120px;
}

.Titlebar-window:has(button:hover) button:not(:hover) {
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.Titlebar-window button:not(:last-child):hover {
  background-color: rgb(87, 86, 86);
}

.Titlebar-window button:last-child:hover {
  background-color: #e81123;
  color: #ffffff;
}

.Titlebar-window button:active {
  background: rgba(255, 255, 255, 0.15);
}

.Titlebar-window button:last-child:active {
  background-color: #f1707a;
  color: #000000;
}