@import "variable.css";

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-area-partitioning {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--primary-background);
}

.Sidebar-area {
  /* Use minmax here for smoother change, between 25% and suitable pixels for small screens [pixels should be smaller for small screns]*/
  width: clamp(160px, 25%, 320px);
  max-width: 350px;
  min-width: 150px;
  height: 100%;
  border-right: 2px solid var(--primary-border);
  box-shadow: 0 100 10px 20px hsl(215, 12%, 12%);
  background-color: var(--primary-sidebar);
  transition: width 0.5s ease-in-out;
}

.Topbar-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 75%;
  height: 100%;
}

.app-window {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 75%;
  height: 100%;
}